# ENV
alias vim="mvim -v"

export EDITOR='vim'
export VISUAL='vim -f'
export PAGER=less

alias vi=vim
alias emacs="emacs -nw"

alias targz="tar -zcvf" # archive-name.tar.gz directory-name

# Using coreutils on OSX
alias ls='gls --color=always'
alias la='ls -la'
alias grep='grep'
alias egrep='egrep'
alias c='clear'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias rad='screen -rad'
alias pls='fc -s | less'
alias zshup='source ~/.zshrc; echo ".zshrc sourced"'
alias tnew='tmux new -s'
alias tad='tmux attach -d -t'
alias tls='tmux ls'

